---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Jacklyn";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>Jacklyn Carroll</h1>
    <span class="badge">Technical Writer</span>
    <h2>About</h2>
    <p>
        Praesent malesuada mi nisi, quis tempus magna venenatis ut.
        Suspendisse tempor sem at scelerisque congue. Curabitur mollis,
        mi id molestie finibus, metus sem sagittis nunc, euismod feugiat orci neque non lorem.
        Aenean sollicitudin erat eu molestie tempus. Nunc ac eros elementum, fermentum lacus at,
        pellentesque mauris. Suspendisse eros neque, interdum euismod consectetur convallis,
        porttitor at massa. Phasellus a ultrices arcu. Donec viverra, lorem in pellentesque euismod,
        libero justo gravida nibh, non ultricies justo purus ultrices est.
    </p>

    <div class="center">
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <p>
        Praesent malesuada mi nisi, quis tempus magna venenatis ut.
        Suspendisse tempor sem at scelerisque congue. Curabitur mollis,
        mi id molestie finibus, metus sem sagittis nunc, euismod feugiat orci neque non lorem.
    </p>
</Layout>

