---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Jacklyn - Technical Writer">
  <h1>Hi, I'm Jacklyn!</h1>

  <p>
    I'm a technical writer who turns complex ideas into clear, engaging content. With a background in creative writing and full-stack development, I bring storytelling and precision to every project.
    <br><br>
    👉 Check out my <a href="/portfolio/projects">Projects</a> to see some of my recent work.
  </p>
</Layout>
