---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Now - YOUR NAME">
  <h1>What am I up to right now?</h1>
  <p>
    Last updated October 2024
    <br>
    <h2>Work stuff</h2>
    I'm currently working with two different companies to improve their product documentation. The first company is Warp.dev, and the second is Hypermode. I'm working with both companies on a contract, part-time basis.<br><br>
    While both of these contracts will keep me busy through at least the rest of 2024, I am still keeping an eye out for potential opportunities.
    <br>
    <h2>Fun stuff</h2>
    For the foreseeable future I'll only have eyes for Dragon Age: The Veilguard, a game I've been waiting 10 years for.
    <hr>
    Check out <a href="https://nownownow.com/" target="_blank">nownownow</a> to learn
    about the origin of the “/now/” page.
  </p>
</Layout>
