---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Jacklyn - Projects">
  <h1>Projects</h1>
  <p>Below are links to some of my writing samples and descriptions of projects I've worked on over the years.</p>

  <h2>Netlify writing samples</h2>

  <b>Git Contributors and Deploy Permissions</b>
  <p>The Git Contributors project was one of the first big documentation efforts I was in charge of while at Netlify. Git Contributors was a new, paid user role. Teams could add non-team members to their teams as Git Contributors, granting them temporary permission to trigger builds, deploys, or Deploy Previews. I audited the current documentation and ensured that I not only covered what Git Contributors were and how to add them, but also the core functionality of what working with Git Contributors actually meant for a Netlify team.</p>
  <ul class="project-list">
    <li>
      <a href="https://docs.netlify.com/accounts-and-billing/team-management/roles-and-permissions/#git-contributor" target="new">Git Contributors role</a>
    </li>
    <li>
      <a href="https://docs.netlify.com/site-deploys/overview/#deploy-permissions" target="new">Deploy Permissions</a>
    </li>
  </ul>
  <br>
  <b>Directory Sync</b>
  <p>Due to my previous work at Netlify with team management and user authentication, I was given the task of writing docs for our new Directory Sync feature. Directory Sync allowed Netlify organizations to manage user access across multiple teams using a supported identity provider. I worked closely with the engineers on the project to set up my own organization with users and test the functionality. I also worked alongside the designers to test the in-app flow, and I made suggestions to improve the overall usability and experience.</p>
  <ul class="project-list">
    <li>
      <a href="https://web.archive.org/web/20240504120012/https://docs.netlify.com/security/secure-netlify-access/directory-sync/" target="new">Directory Sync documentation</a>
    </li>
  </ul>
  <br>

  <h2>Netlify projects</h2>

  <b>Pricing component</b>
  <p>When I started working at Netlify, we had pricing messages in our docs that told users if the feature they were reading about was offered on their current Netlify plan. The messages also mentioned the feature’s release stage, if applicable. However, these messages did not have consistent language and were scattered across numerous pages. If someone wanted to update the pricing message for a feature, they would have to search across multiple pages and update each message individually.</p>
  <p>To solve this problem, I created a Vue.js component in our docs that contained all of our pricing messages. They were organized alphabetically by feature to make them easier to find. I made all of the messaging consistent and created a template for our team to use. Now, updating the pricing message is as easy as adding the small component code to the page and ensuring that the message is correct in the single Vue.js file.</p>
  <p>Below is a screenshot example of the pricing component:</p>
  <img src="/portfolio/public/assets/img/pricingcomponent.png">
  <br>

  <b>Docs homepage redesign</b>
  <p>While at Netlify, I led a project to completely revamp our Docs homepage. The project aimed to improve the quality and user experience of our site. We wanted to align with the Netlify branding for a seamless experience and set the stage for further improvements. Our goal was to decrease the average time spent on the home page so users could quickly find what the need and move forward.</p>
  <p>The project started with digging into the relevant data in Google Analytics to figure out how long users are spending on the home page and the common pages they visit after reaching the page. I then collaborated with one of our designers to create a plan, and checked in with our Marketing team to ensure our branding was cohesive. During the process I decided to leverage Sanity to create content blocks that could be easily updated by our docs team members.</p>
  <ul class="project-list">
    <li>
      <a href="https://web.archive.org/web/20220630202018/https://docs.netlify.com/" target="new">BEFORE: Docs homepage before the redesign</a>
    </li>
    <li>
      <a href="https://docs.netlify.com/" target="new">AFTER: Docs homepage after the redesign</a>
    </li>
  </ul>
  <br>

  <h2>Warp writing samples</h2>

  <b>Migrate to Warp and Quickstart guide</b>
  <p>During my time at Warp, I focused on content for users who were just getting started with the Warp terminal. One big pain point for new users was figuring out how to import their existing settings from their current terminal to Warp. Using iTerm2 as a starting point, I created a new page to show users how to important keybindings, themes, and more from Warp to iTerm2. I also reviewed the current Quickstart guide and made changes to ensure we were consistent and providing clear, concise information for users.</p>
  <ul class="project-list">
    <li>
      <a href="https://docs.warp.dev/getting-started/migrate-to-warp" target="new">Migrate to Warp</a>
    </li>
    <li>
      <a href="https://docs.warp.dev/" target="new">Quickstart guide</a>
    </li>
  </ul>


</Layout>
